---
import Layout from '../layouts/Layout.astro';
import Items from '../components/Items.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Catálogo en<span class="text-gradient">Venta</span></h1>
		<Items />
	</main>
</Layout>

<style>
	main {
		margin: 0px auto;
		padding: 1rem;
		width: 90vw;
		max-width: calc(100% - 3rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0px auto 40px;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
